@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #DDDDDD;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: $primary;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */
}
body{
    color: #59595B !important;
    font-family: 'Nunito', sans-serif;
    scrollbar-width: thin;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 1.28vh 0vh;
    font-size: 1.80vh;
    border-radius: 40rem;
}
.btn{
    min-width: 48%;
    font-size: 1.7vh;
    height: 5.49vh;
}
.raya{
    height: 4px;
    background: white;
    border-radius: 20px;
}
.input-code{
    flex: none !important;
    width: 75px !important;
}
.btn-check:checked + .btn-outline-light, .btn-check:active + .btn-outline-light, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show{
    background-color: rgba(224, 4, 32, 0.34);
    border-color: #E00520;
    color:white;
}
.btn-outline-light {
    color: #59595B;
    border-color: #DDDDDD;
    background-color: #DDDDDD;
}
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    outline: 0;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1.5rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #ffffff;
    border-radius: 2rem;
    padding: 3px;
    border: 2px solid $primary;
}
.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: $primary;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
    border-radius: 2rem;
}
.form-check-input[type=radio]:checked{
    background-color: $primary !important;
    background-image: none;
    margin-top: .1em !important;
    border-color: $primary;
}
.form-check-input[type=radio]{
    width: 3.4vh;
    height: 3.4vh;
}
.table > :not(caption) > * > *{
    padding: 1em;
    border: none;
}
.table > :not(caption) > * {
    padding: 4em;
}
.table tr td:first-child{
    color: #9B9B9B;
}
.table tr td:nth-child(2){
    color: #59595B;
}
.btn-lg-c{
    min-height: 100px !important;
}
/* Dashed red border */
hr.hr {
    border-top: 2px dashed #DDDDDD;
}
.btn-light-color{
    color: #6c6b6b !important;
    border-color: #c8c8c8 !important;
}
.form-check-input[type='checkbox'][role='switch']{
    height: 2.3em;
}

.btn-check:checked + .btn-outline-light, .btn-check:active + .btn-outline-light, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show{
    color: #b3041a  !important;
}
.btn-lg-c {
    min-height: 75px !important;
}
.btn-lg-c {
    font-size: 2vh !important;
}
@media (max-width:768px) {
    .border-bottom-m{
        border-bottom: 1px solid;
        border-color: #dddddd;
    }
    .btn-lg-c {
        min-height: 63px !important;
    }


    .arrow-up{
        width: 6.2vh;
    }
    .arrow-down{
        width: 6.2vh;
    }
    .btn {
        height: 6.5vh;
    }

    @for $i from 1 to 200 {
        .font-#{$i}-vh{
            font-size: #{$i}vh;
        }
        .pt-#{$i}-vh{
            padding-top: #{$i}vh;
        }
        .pb-#{$i}-vh{
            padding-bottom: #{$i}vh;
        }
        .pl-#{$i}-vh{
            padding-left: #{$i}vh;
        }
        .pr-#{$i}-vh{
            padding-right: #{$i}vh;
        }
        .mt-#{$i}-vh{
            margin-top: #{$i}vh;
        }
        .mb-#{$i}-vh{
            margin-bottom: #{$i}vh;
        }
        .ml-#{$i}-vh{
            margin-left: #{$i}vh;
        }
        .mr-#{$i}-vh{
            margin-right: #{$i}vh;
        }
        .img-w-#{$i}-vh{
            width: #{$i}vh;
        }
    }
    .font-2-50-vh{
        font-size: 2.50vh;
    }
    .font-1-58-vh{
        font-size: 1.58vh;
    }
    .font-1-3-vh{
        font-size: 1.3vh;
    }
    .font-1-5-vh{
        font-size: 1.5vh;
    }
    .font-1-60-vh{
        font-size: 1.60vh;
    }
    .font-1-8-vh{
        font-size: 1.80vh;
    }
    .font-2-10-vh{
        font-size: 2.10vh;
    }

    .font-2-1-vh{
        font-size: 2.1vh;
    }

    .font-1-80-vh{
        font-size: 1.80vh;
    }
    .font-2-80-vh{
        font-size: 2.80vh;
    }
    .font-2-30-vh{
        font-size: 2.30vh;
    }

    .pt-6-89-vh{
        padding-top: 6.89vh;
    }
    .logo{
        width: 25vh;
        padding: 0.4vh 0;
    }
    .input-code{
        width: 60px !important;
    }
    .card-radius{
        border-radius: 0 0 2rem 2rem;
        background: white;
        height: 90vh;
        /*display: inline-flex;*/
        width: 100%;
        overflow-y: auto;
        padding-bottom: 3rem;
    }
    .card-radius-down{
        margin-top: -4vh;
        height: 14vh;
        overflow-y: hidden;
        width: 100%;
    }
    .card-top-up{
        display: inline-flex;
        width: 100%;
        height: 35vh !important;
    }
    .card-bottom-down{
        height: 69vh;
    }
    .arrow-control{
        width: 100%;
        text-align: center;
        height: 2rem;

        border-radius: 0 0 1.1rem 1.1rem;
        background: white;
        box-shadow: 33px 0 $primary;
    }
    .form-check-input[type=checkbox] {
        border-radius: 4px;
    }
    .form-check-input{
        width: 20px;
        height: 20px;
    }
    .form-check-input:checked{
        background-size: 13px;
        margin-top: 2px;
    }
    .form-check{
        margin-bottom: 1rem;
    }
    .raya{
        display: none    ;
    }
    .form-control{
        min-height: 50px;
    }
    .form-select {
        min-height: 50px;
        font-size: 1.84vh !important;
    }
    .form-label{
        font-size: 1.3vh;
        margin-bottom: 0.3vh;
    }
    .img-w-3-7-vh{
        width: 3.7vh;
    }
    .form-switch   .form-check-input[type="checkbox"] {
        border-radius: 20px;
        width: 8.5vh;
        background-size: 2rem;
        height: 30px;
    }
}
@for $i from 1 to 200 {
    .font-#{$i}-vh{
        font-size: #{$i}vh;
    }
    
    .img-w-#{$i}-rem{
        width: #{$i}rem;
    }
    .pt-#{$i}-vh{
        padding-top: #{$i}vh;
    }
    .pb-#{$i}-vh{
        padding-bottom: #{$i}vh;
    }
    .pl-#{$i}-vh{
        padding-left: #{$i}vh;
    }
    .pr-#{$i}-vh{
        padding-right: #{$i}vh;
    }

    // PX
    .font-#{$i}-px{
        font-size: #{$i}px;
    }
    .pt-#{$i}-px{
        padding-top: #{$i}px;
    }
    .pb-#{$i}-px{
        padding-bottom: #{$i}px;
    }
    .pl-#{$i}-px{
        padding-left: #{$i}px;
    }
    .pr-#{$i}-px{
        padding-right: #{$i}px;
    }

    .mt-#{$i}-px{
        margin-top: #{$i}px;
    }
    .mb-#{$i}-px{
        margin-bottom: #{$i}px;
    }
    .ml-#{$i}-px{
        margin-left: #{$i}px;
    }
    .mr-#{$i}-px{
        margin-right: #{$i}px;
    }
}

@include media-breakpoint-up(xs) {

    .font-2-24-vh-xs{
        font-size: 2.24vh;
    }
    @for $i from 1 to 200 {
        .font-#{$i}-vh-xs{
            font-size: #{$i}vh;
        }
        .font-#{$i}-xs{
            font-size: #{$i}px;
        }
        .pt-#{$i}-px-xs{
            padding-top: #{$i}px;
        }
        .pb-#{$i}-px-xs{
            padding-bottom: #{$i}px;
        }
        .pl-#{$i}-px-xs{
            padding-left: #{$i}px;
        }
        .pr-#{$i}-px-xs{
            padding-right: #{$i}px;
        }

        .mt-#{$i}-px-xs{
            margin-top: #{$i}px;
        }
        .mb-#{$i}-px-xs{
            margin-bottom: #{$i}px;
        }
        .ml-#{$i}-px-xs{
            margin-left: #{$i}px;
        }
        .mr-#{$i}-px-xs{
            margin-right: #{$i}px;
        }
        .img-w-#{$i}-rem-xs{
            width: #{$i}rem;
        }
    }
}

@include media-breakpoint-up(sm) {

    @for $i from 1 to 200 {
        .font-#{$i}-vh-sm{
            font-size: #{$i}vh;
        }
        .font-#{$i}-sm{
            font-size: #{$i}px;
        }
        .pt-#{$i}-px-sm{
            padding-top: #{$i}px;
        }
        .pb-#{$i}-px-sm{
            padding-bottom: #{$i}px;
        }
        .pl-#{$i}-px-sm{
            padding-left: #{$i}px;
        }
        .pr-#{$i}-px-sm{
            padding-right: #{$i}px;
        }

        .mt-#{$i}-px-sm{
            margin-top: #{$i}px;
        }
        .mb-#{$i}-px-sm{
            margin-bottom: #{$i}px;
        }
        .ml-#{$i}-px-sm{
            margin-left: #{$i}px;
        }
        .mr-#{$i}-px-sm{
            margin-right: #{$i}px;
        }
    }
}

@include media-breakpoint-up(md) {
    .logo{
        width: 22vh;
    }
    .font-1-5-vh-md{
        font-size: 1.5vh;
    }
    .font-1-60-vh-md{
        font-size: 1.60vh;
    }
    .font-1-3-vh-md{
        font-size: 1.3vh;
    }

    .font-2-1-vh-md{
        font-size: 2.1vh;
    }
    .font-2-10-vh-md{
        font-size: 2.10vh;
    }
    .font-1-80-vh-md{
        font-size: 1.80vh;
    }

    .font-2-24-vh-md{
        font-size: 2.24vh;
    }

    .font-2-50-vh-md{
        font-size: 2.50vh;
    }

    .font-2-40-vh-md{
        font-size: 2.40vh;
    }
    .font-2-30-vh-md{
        font-size: 2.30vh;
    }
    .font-2-80-vh-md{
        font-size: 2.80vh;
    }
    .font-1-58-vh-md{
        font-size: 1.58vh;
    }
    .pt-10-2-vh-md{
        padding-top: 10.2vh;
    }
    .pt-6-89-vh-md{
        padding-top: 6.89vh;
    }
    .img-w-31-97-vh-md{
        width: 31.97vh;
    }
    .img-w-3-7-vh-md{
        width: 3.7vh;
    }
    @for $i from 1 to 200 {
        .font-#{$i}-vh-md{
            font-size: #{$i}vh;
        }
        .font-#{$i}-md{
            font-size: #{$i}px;
        }
        .pt-#{$i}-px-md{
            padding-top: #{$i}px;
        }
        .pb-#{$i}-px-md{
            padding-bottom: #{$i}px;
        }
        .pl-#{$i}-px-md{
            padding-left: #{$i}px;
        }
        .pr-#{$i}-px-md{
            padding-right: #{$i}px;
        }

        .mt-#{$i}-px-md{
            margin-top: #{$i}px;
        }
        .mb-#{$i}-px-md{
            margin-bottom: #{$i}px;
        }
        .ml-#{$i}-px-md{
            margin-left: #{$i}px;
        }
        .mr-#{$i}-px-md{
            margin-right: #{$i}px;
        }
        .img-w-#{$i}-rem-md{
            width: #{$i}rem;
        }
        .img-w-#{$i}-vh-md{
            width: #{$i}vh;
        }
    }
    .btn{
        min-width: 28.87vh;
        min-height: 5.89vh;
    }
    .btn-lg, .btn-group-lg > .btn {
        padding: .80vh 4vh;
        font-size: 1.80vh;
        border-radius: 63.94vh;
    }
}
@include media-breakpoint-up(lg) { 
    @for $i from 1 to 200 {
        .font-#{$i}-vh-lg{
            font-size: #{$i}vh;
        }
        .font-#{$i}-lg{
            font-size: #{$i}px;
        }
        .pt-#{$i}-px-lg{
            padding-top: #{$i}px;
        }
        .pb-#{$i}-px-lg{
            padding-bottom: #{$i}px;
        }
        .pl-#{$i}-px-lg{
            padding-left: #{$i}px;
        }
        .pr-#{$i}-px-lg{
            padding-right: #{$i}px;
        }

        .mt-#{$i}-px-lg{
            margin-top: #{$i}px;
        }
        .mb-#{$i}-px-lg{
            margin-bottom: #{$i}px;
        }
        .ml-#{$i}-px-lg{
            margin-left: #{$i}px;
        }
        .mr-#{$i}-px-lg{
            margin-right: #{$i}px;
        }
    }
 }
@include media-breakpoint-up(xl) { 
    @for $i from 1 to 200 {
        .font-#{$i}-vh-xl{
            font-size: #{$i}vh;
        }
        .font-#{$i}-xl{
            font-size: #{$i}px;
        }
        .pt-#{$i}-px-xl{
            padding-top: #{$i}px;
        }
        .pb-#{$i}-px-xl{
            padding-bottom: #{$i}px;
        }
        .pl-#{$i}-px-xl{
            padding-left: #{$i}px;
        }
        .pr-#{$i}-px-xl{
            padding-right: #{$i}px;
        }

        .mt-#{$i}-px-xl{
            margin-top: #{$i}px;
        }
        .mb-#{$i}-px-xl{
            margin-bottom: #{$i}px;
        }
        .ml-#{$i}-px-xl{
            margin-left: #{$i}px;
        }
        .mr-#{$i}-px-xl{
            margin-right: #{$i}px;
        }
    }
}
@include media-breakpoint-up(xxl) { 
    @for $i from 1 to 200 {
        .font-#{$i}-vh-xxl{
            font-size: #{$i}vh;
        }
        .font-#{$i}-xxl{
            font-size: #{$i}px;
        }
        .pt-#{$i}-px-xxl{
            padding-top: #{$i}px;
        }
        .pb-#{$i}-px-xxl{
            padding-bottom: #{$i}px;
        }
        .pl-#{$i}-px-xxl{
            padding-left: #{$i}px;
        }
        .pr-#{$i}-px-xxl{
            padding-right: #{$i}px;
        }

        .mt-#{$i}-px-xxl{
            margin-top: #{$i}px;
        }
        .mb-#{$i}-px-xxl{
            margin-bottom: #{$i}px;
        }
        .ml-#{$i}-px-xxl{
            margin-left: #{$i}px;
        }
        .mr-#{$i}-px-xxl{
            margin-right: #{$i}px;
        }
    }
 }


.btn-primary-outline {
    background-color: transparent;
    border-color: #ccc;
  }