head 
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(http-equiv="X-UA-Compatible", content="IE=7")
    
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
    link(rel="stylesheet", href="css/crediminuto.css")
    link(rel="stylesheet", href="css/style.css")
    title #{page_datos.title}