.modal.fade(aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" )#modalProcesandoSolicitud
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-body.text-center.py-md-5.py-4
                p.mb-0 Estamos procesando la solicitud de
                span.text-primary.font-20-md Juan Pérez Moreno
                .progress.col-md-7.mx-auto.mt-md-4
                    .progress-bar#progressBar(role='progressbar' style='width: 0%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')

