script(src="js/jquery.min-dist.js") 
script(src="js/bootstrap.min-dist.js")
script(src="js/jquery.validate.min-dist.js") 
script(src="js/additional-methods-dist.js")
script(src="js/script-global.js")
block script 