extends ../layouts/_layout_one
block variables

    - var page_datos    = { title: 'crediminuto || Inicio', back: false, cliente:false}
    - var   text_1  =   "Registra a tu cliente para que <br class='d-md-block d-none'> pueda acceder a ese celular que <br class='d-md-block d-none'> tanto quiere y en cuotas";
    - var   text_2  =   false;
    - var   text_3  =   "Ten en cuenta que el botón <b class='fw-bold'> “Login Cliente <br class='d-md-block d-none'> Registrado” </b> únicamente es para un cliente <br class='d-md-block d-none'> que ya ha comenzado o se ha registrado<br class='d-md-block d-none'> anteriormente.";
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   'elemento-1.svg';

block content_right
    form(id="form-page-register").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-30-px
            span.pl-1-vh.font-24-md.font-22-px.fw-normal 01. Registro
        .mt-md-5.font-20-md.font-20-px.mt-40-px.fw-bolder
            div.text-primary.fw-normal
                | ¡Comencemos!
        .font-20-md.font-20-px.fw-light   Escribe el número de celular del cliente
        div.mt-4.col-md-7.pt-45-px-md.pt-30-px
            label.form-label.ps-2.ms-1.font-15-px NÚMERO CELULAR
            input(type="tel", min="0", inputmode="tel", name="tel-number", placeholder="Número de celular de tu cliente").form-control
        .mt-80-px-md.mt-60-px.justify-content-between.d-flex.d-md-block
            a(href="").btn.btn-outline-primary.btn-lg CLIENTE REGISTRADO
            button(type="submit", disabled="true").btn.btn-primary.btn-lg.ms-md-4.continuar-btn CONTINUAR
        .mt-80-px-md.mt-60-px
            .form-check
                input#flexCheckDefault.form-check-input(type='checkbox' value='' checked='' name="term" required)
                label.form-check-label(for='flexCheckDefault').font-16-md.font-13-xs
                    | Aceptar 
                    a(href="") Términos y condiciones 
            .form-check
                input#flexCheckChecked1.form-check-input(type='checkbox' value='' name="policy" required)
                label.form-check-label(for='flexCheckChecked1').font-16-md.font-13-xs
                    | Aceptar 
                    a(href="") Políticas de Protección al Consumidor
            .form-check
                input#flexCheckChecked2.form-check-input(type='checkbox' value='' name="policy-dato" required)
                label.form-check-label(for='flexCheckChecked2').font-16-md.font-13-xs
                    | Aceptar 
                    a(href="") Políticas de Tratamiento de Datos Personales
block script 
    script(src="js/script-page/script-page-1.js")