extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Cuenta correo', back: true, cliente:true}
    - var   text_1  =   "Recomendaci贸n";
    - var   text_2  =   "Es importante que sea el correo electr贸nico<br class='d-md-block d-none'> REAL del cliente. De otra forma, es posible<br class='d-md-block d-none'> que no pueda terminar satisfactoriamente el<br class='d-md-block d-none'> proceso con Crediminuto.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-8.svg"

block content_right
    form(id="form-validate-code").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-3-vh-md.font-3-vh.mt-1.mt-md-1
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal 04. Cuenta de correo electr贸nico
        .font-2-vh-md.fw-light.font-2-vh.mt-4.pt-1   Para poder terminar el registro y luego enrolar al cliente #[br.d-md-block.d-none] correctamente es necesario que se registre de alguna de #[br.d-md-block.d-none] las siguientes formas:
        div.text-primary.mt-md-3#time-code
        .mt-5.pt-2.mt-md-5.justify-content-center.d-flex.d-md-block.justify-content-md-between
            button(type="submit").btn.btn-lgbtn-light-color.btn-light-color.continuar-btn.btn-light.col-md-5.col-12.d-flex.justify-content-center.font-2-vh-md.fw-light.font-2-vh
                img(src="image/icono-gmail.svg").img-w-3-7-vh.img-w-3-7-vh-md.me-3.me-md-3
                | Cuenta Gmail
        .mt-4.mt-md-4.justify-content-between.d-flex.d-md-block.justify-content-md-between
            button(type="submit").btn.btn-lg.btn-light-color.continuar-btn.btn-light.col-md-5.col-12.d-flex.justify-content-center.font-2-vh-md.fw-light.font-2-vh
                img(src="image/icono-email.svg").img-w-3-7-vh.img-w-3-7-vh-md.me-3.me-md-3
                | Cuenta de correo electr贸nico
        .mt-4.mt-md-4.justify-content-center.d-flex.d-md-block.justify-content-md-between
            button(type="submit").btn.btn-lg.btn-light-color.continuar-btn.btn-light.col-md-5.col-12.d-flex.justify-content-center.font-2-vh-md.fw-light.font-2-vh
                img(src="image/icono-error.svg").img-w-3-7-vh.img-w-3-7-vh-md.me-3.me-md-3
                | El cliente no tiene correo