extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Cuenta correo', back: true, cliente:false}
    - var   text_1  =   "Recomendación";
    - var   text_2  = "Es importante que sea el correo electrónico<br class='d-md-block d-none'> REAL del cliente. De otra forma, es posible<br class='d-md-block d-none'> que no pueda terminar satisfactoriamente el<br class='d-md-block d-none'> proceso con Crediminuto.";
    - var   text_3  = false;
    - var   ol      = false;
    - var   ol2     =   false;
    - var   img     = "elemento-8.svg";

block content_right
    form(id="form-cuenta-correo").pt-6-89-vh-md.pt-4-vh.mb-5
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-3-vh-md.font-3-vh.mt-1.mt-md-1
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal 04. Cuenta de correo electrónico
        .font-2-vh-md.fw-light.font-2-vh.mt-4.pt-2  Por favor escribir el email del cliente.
        div.text-primary.d-flex.mt-2.font-1-5-vh(style="line-height:1.7vh").align-items-center
            img(src="image/icono-warning.svg").img-w-3-vh.img-w-3-vh-md.me-2
            div   Atención si es un mail @gmail debe hacer clic #[br.d-md-none.d-block ] en el ícono de Google.
        div.mt-5.col-md-8
            label.form-label.ps-2.ms-1.font-1-5-vh-md EMAIL
            input(type="email", name="email", placeholder="cliente@mail.com").form-control
        .font-2-vh-md.fw-light.font-2-vh.mt-4.pt-4  Por favor ingresar una nueva contraseña para #[br.d-md-block.d-none ] la cuenta de Crediminuto
        div.mt-3.col-md-8.pt-10-px-md.pt-1-px
            label.form-label.ps-2.ms-1.font-1-5-vh-md NUEVA CONTRASEÑA
            input(type="password", name="password", placeholder="********")#password.form-control
        div.mt-4.pt-2.col-md-8.pt-10-px-md.pt-1-px
            label.form-label.ps-2.ms-1.font-1-5-vh-md REPITA CONTRASEÑA
            input(type="password", name="password_confirm", placeholder="********").form-control
        .mt-5.justify-content-md-start.justify-content-center.d-flex.d-md-block
            button(disabled).btn.btn-primary.btn-lg.font-14-xs.continuar-btn Confirmar
block script
    script(src="js/script-page/11-cuenta-correo.js")