extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Cuenta correo', back: true, cliente:true}
    - var   text_1  =   "¿Qué es el CUPO CRÉDITO?";
    - var   text_2  =   "Cuando un cliente Crediminuto ya canceló 4<br class='d-md-block d-none'> cuotas, tiene habilitados 300.000COL para<br class='d-md-block d-none'> utilizar en la tienda. Puede utilizar el crédito<br class='d-md-block d-none'> para lo que desee.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-9.svg";

block content_right
    form(id="form-validate-code").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-25-px
            span.pl-1-vh.font-24-md.font-18-px.fw-normal 05. Tipo de crédito
        .mt-md-5.font-24-md.font-20-px.mt-40-px
            div.text-primary.fw-normal
        .font-20-md.font-15-px  Por favor seleccionar:
        .mt-30-px-md.mt-30-px.justify-content-center.d-flex.d-md-block.justify-content-md-between
            button(type="submit").btn.btn-lg.btn-light-color.continuar-btn.font-14-xs.btn-light.col-md-5.col-12.d-flex.justify-content-center
                | SMARTPHONE
        .mt-30-px-md.mt-30-px.justify-content-center.d-flex.d-md-block.justify-content-md-between
            button(type="submit").btn.btn-lg.btn-light-color.continuar-btn.font-14-xs.btn-light.col-md-5.col-12.d-flex.justify-content-center
                | Cupo Crédito
        div.font-12-sm.font-18-md.d-flex.mt-md-2.mt-4(style="line-height:18px")
            img(src="image/icono-warning.svg").img-w-3-vh-xs.me-1.me-md-2
            div.mt-md-4.pt-md-3
                div.text-primary   Atención para el cliente
                div.mt-md-2.fw-light Para hacer uso del cupo crédito debe tener a la mano el #[br.d-md-block.d-none] dispositivo donde tiene instalada la app de Crediminuto.
        .mt-80-px-md.mt-60-px.justify-content-md-between.justify-content-center.d-flex.d-md-block
            button(type="submit").btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs Continuar
