extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Cuenta correo', back: true, cliente:true}
    - var   text_1  =   "Más CUPO CRÉDITO,<br> más beneficios para todos.";
    - var   text_2  =   false;
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-10.svg";

block content_right
    form(id="form-validate-code").pt-6-89-vh-md.pt-4-vh.mb-5
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-3-vh-md.font-3-vh.mt-1.mt-md-1
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal 05. Cupo Crédito
        .font-2-vh-md.fw-light.font-2-vh.mt-4.pt-2 Por favor indicar el monto del #[b.fw-bold CUPO CRÉDITO]: #[br.d-md-block.d-none]
            | El cliente puede disponer del monto desde #[span.text-primary.fw-bold $XXX.XXX]  hasta #[br.d-md-block.d-none] #[span.text-primary.fw-bold $XXX.XXX]
        div.mt-4.col-md-8.pt-10-px-md.pt-10-px
            label.form-label.ps-2.ms-1.font-1-5-vh-md INGRESA EL CÓDIGO
            input(type="number", name="codigo").form-control
        .mt-5.text-primary.aling-items-center.d-flex.align-items-center.pe-5.col-md-9
            img(src="image/icono-phone.svg").img-w-4-vh.img-w-4-vh-md
            .pl-1-vh
                .font-1-80-vh.font-1-80-vh-md.fw-light.fw-light Se enviará un #[b.fw-bolder código a la APP de Crediminuto] #[br.d-md-block.d-none] para terminar de validar el crédito.
        .mt-50-px-md.mt-60-px.justify-content-md-between.justify-content-center.d-flex.d-md-block
            button(type="submit").btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs Continuar
