extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Cuenta correo', back: true, cliente:true}
    - var   text_1  =   "Más CUPO CRÉDITO,<br> más beneficios para todos.";
    - var   text_2  =   false;
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-10.svg";

block content_right
    form(id="form-validate-code").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-25-px
            span.pl-1-vh.font-24-md.font-18-px.fw-normal 05. Cupo Crédito
        .mt-md-5.font-24-md.font-20-px.mt-40-px
            div.text-primary.fw-normal
        .font-20-md.font-15-px.fw-light  Por favor indicar el monto del #[b.fw-bold CUPO CRÉDITO]: #[br.d-md-block.d-none]
            | El cliente puede disponer del monto desde #[span.text-primary.fw-bold $XXX.XXX]  hasta #[br.d-md-block.d-none] #[span.text-primary.fw-bold $XXX.XXX]
        div.mt-4.col-md-8.pt-10-px-md.pt-10-px
            label.form-label.ps-2.ms-1 INGRESA EL CÓDIGO
            input(type="number", name="codigo").form-control
        .text-primary.aling-items-center.d-flex.mt-50-px-md.mt-50-px-xs.align-items-center.pe-5.col-md-9
            img(src="image/icono-phone.svg").img-w-5-vh-xs.img-w-5-vh-md
            .pl-2-vh
                .font-25-md.font-16-px.fw-light Se enviará un código a la APP de Crediminuto #[br.d-md-block.d-none] para terminar de validar el crédito.
        .mt-50-px-md.mt-60-px.justify-content-md-between.justify-content-center.d-flex.d-md-block
            button(type="submit").btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs Continuar
