extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Datos personales', back: true, cliente:true}
    - var   text_1  =   "Recomendación";
    - var   text_2  =   "<b>Pago mensual:</b> será una cuota al mes.  <br class='d-md-block d-none'><b>Pago quicenal:</b> serán dos cuotas al mes.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-14.svg";

block content_right
    form(id="form-datos-personales").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-25-px
            span.pl-1-vh.font-24-md.font-18-px.fw-normal 06. Forma de pago
        .mt-md-5.font-24-md.font-20-px.mt-40-px
            div.text-primary.fw-normal
        .font-20-md.font-15-px.fw-light   Al momento de seleccionar la frecuencia de pago, #[br.d-md-block.d-none] se habilitará la opción de los plazos disponibles para esa frecuencia.
        div.mt-md-5.mt-3
            .border-bottom.font-24-md.font-15-px
                | Frecuencia
            .btn-group.mt-4.col-12.col-md-10.d-block.d-md-flex.mb-4(role='group' aria-label='Basic radio toggle button group')
                input#btnradio01.btn-check(type='radio' name='frecuencia' value="m" autocomplete='off' checked='')
                label.btn.btn-outline-light.font-16-md.mt-3.mt-md-2.col-md-5.col-12(for='btnradio01') MENSUAL
                input#btnradio02.btn-check(type='radio' name='frecuencia' value="q" autocomplete='off')
                label.btn.btn-outline-light.ms-md-3.mt-3.mt-md-2.font-16-md.col-md-5.col-12(for='btnradio02') QUINCENAL
        div.mt-md-5
            .border-bottom.font-24-md.font-15-px
                | Plazo
            .mt-md-4(role='group' aria-label='Basic radio toggle button group').plazo#mensual
                input#btnradio11.btn-check(type='radio' name='cuotamensual' autocomplete='off' checked='')
                label.btn.btn-outline-light.font-16-md.col-md-5.me-md-3.col-12.mt-3(for='btnradio11') 6 CUOTAS
                input#btnradio12.btn-check(type='radio' name='cuotamensual' autocomplete='off')
                label.btn.btn-outline-light.font-16-md.col-md-5.me-md-3.col-12.mt-3(for='btnradio12') 12 CUOTAS
                input#btnradio13.btn-check(type='radio' name='cuotamensual' autocomplete='off')
                label.btn.btn-outline-light.font-16-md.col-md-5.mt-md-4.me-md-3.col-12.mt-3(for='btnradio13') 18 CUOTAS
            .mt-md-4(role='group' aria-label='Basic radio toggle button group', style="display:none").plazo#quincenal
                input#btnradio21.btn-check(type='radio' name='cuotamensual' autocomplete='off' checked='')
                label.btn.btn-outline-light.font-16-md.col-md-5.me-md-3.col-12.mt-3(for='btnradio21') 3 CUOTAS
                input#btnradio22.btn-check(type='radio' name='cuotamensual' autocomplete='off')
                label.btn.btn-outline-light.font-16-md.col-md-5.me-md-3.col-12.mt-3(for='btnradio22') 6 CUOTAS
        .mt-50-px-md.mt-40-px.justify-content-center.d-flex.d-md-block.justify-content-md-between
            a(data-bs-toggle="modal" role="button").btn.btn-primary.btn-lg.continuar-btn.font-14-xs ENVIAR SOLICITUD
        include ../components/_modal_procesando
block script
    script(src="js/script-page/forma-pago.js")