extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Datos personales', back: true, cliente:true}
    - var   text_1  =   ' ';
    - var   text_2  =   "<div class='row pt-10-2-vh-md pt-8-vh'><div class='col mt-5'><b class='font-3-vh font-2-24-vh-md'>Pago mensual:</b> <br> Significa que ser치 una<br> cuota al mes.</div> <div class='col mt-5'> <b class='font-3-vh font-2-24-vh-md'>Pago quicenal:</b> <br> Significa que ser치n<br> dos cuotas al mes.</div></div>";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-14.svg";

block content_right
    form(id="form-forma-pago").pt-6-89-vh-md.pt-4-vh.mb-5
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-3-vh-md.font-3-vh.mt-1.mt-md-1
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal 06. Forma de pago
        .font-2-vh-md.fw-light.font-2-vh.mt-3.pt-0 Al momento de seleccionar la frecuencia de pago, #[br.d-md-block.d-none] se habilitar치 la opci칩n de los plazos disponibles para esa frecuencia.
        div.mt-md-5.mt-4
            .border-bottom.font-2-vh-md.fw-bold.font-2-vh
                | Frecuencia
            .btn-group.mt-3.col-12.col-md-10.d-block.d-md-flex.mb-4(role='group' aria-label='Basic radio toggle button group')
                input#btnradio01.btn-check(type='radio' name='frecuencia' value="m" autocomplete='off' checked='')
                label.btn.btn-outline-light.font-16-md.mt-3.mt-md-2.col-md-5.col-12(for='btnradio01') MENSUAL
                input#btnradio02.btn-check(type='radio' name='frecuencia' value="q" autocomplete='off')
                label.btn.btn-outline-light.ms-md-3.mt-4.mt-md-2.font-16-md.col-md-5.col-12(for='btnradio02') QUINCENAL
        div.mt-md-5.mt-5
            .border-bottom.font-2-vh-md.fw-bold.font-2-vh
                | Plazo
            .mt-md-4.mt-2(role='group' aria-label='Basic radio toggle button group', style="display:none").plazo#quincenal
                input#btnradio11.btn-check(type='radio' name='plazo' autocomplete='off' checked='')
                label.btn.btn-outline-light.font-16-md.col-md-5.me-md-3.col-12.mt-3(for='btnradio11') 6 CUOTAS
                input#btnradio12.btn-check(type='radio' name='plazo' autocomplete='off')
                label.btn.btn-outline-light.font-16-md.col-md-5.me-md-3.col-12.mt-4(for='btnradio12') 12 CUOTAS
                input#btnradio13.btn-check(type='radio' name='plazo' autocomplete='off')
                label.btn.btn-outline-light.font-16-md.col-md-5.mt-md-4.me-md-3.col-12.mt-3(for='btnradio13') 18 CUOTAS
            .mt-md-4.mt-2(role='group' aria-label='Basic radio toggle button group').plazo#mensual
                input#btnradio21.btn-check(type='radio' name='plazo' autocomplete='off')
                label.btn.btn-outline-light.font-16-md.col-md-5.me-md-3.col-12.mt-3(for='btnradio21') 3 CUOTAS
                input#btnradio22.btn-check(type='radio' name='plazo' autocomplete='off', checked='')
                label.btn.btn-outline-light.font-16-md.col-md-5.me-md-3.col-12.mt-4(for='btnradio22' ) 6 CUOTAS
        .mt-50-px-md.mt-40-px.justify-content-center.d-flex.d-md-block.justify-content-md-between
            button(data-bs-toggle="modal" role="button").btn.btn-primary.btn-lg.continuar-btn.font-14-xs ENVIAR SOLICITUD
        include ../components/_modal_procesando
block script
    script(src="js/script-page/17-forma-pago.js")