extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto ||Buenas noticias', back: true, cliente:true}
    - var   text_1  =   "¡Vienes muy bien! <br class='d-md-block d-none'> Ya queda muy poco";
    - var   text_2  =   false;
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-15.svg";

block content_right
    form(id="form-datos-personales").pt-90-px-md.pt-40-px.pb-64-px
        .text-primary.justify-content-center.d-grid.d-md-flex.justify-content-md-start
            i.fa-solid.fa-circle-check.font-65-md.font-50-px.mt-md-1.mx-auto.mx-md-0
            div.pl-1-vh.font-30-md.font-18-px.fw-normal.mt-3.mt-md-3 ¡Buenas noticias!
        .mt-md-5.font-24-md.font-20-px.mt-40-px
            div.text-primary.fw-normal
        .font-20-md.font-15-px.text-center.text-md-start.pt-20-px-md #[b ¡Tu cliente tiene pr-aprobado el crédito, felicítalo! ] #[br.d-md-block.d-none]
            |   Ahora solo queda validar su identidad con 4 preguntas #[br.d-md-block.d-none] que deberá responder a continuación.
        .mt-80-px-md.mt-40-px.justify-content-center.d-flex.d-md-block.justify-content-md-between
            button.btn.btn-primary.btn-lg.continuar-btn.font-14-xs Validar identidad