extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Usuario registrado', back: true, cliente:false}
    - var   text_1  =   "¡Ahora Crediminuto tiene <br> más y mejores beneficios<br> para tí y tus clientes!";
    - var   text_2  =   false;
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-2.svg";

block content_right
    form(id="form-page-register").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-3-vh-md.font-3-vh.mt-1.mt-md-1
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal 01. Usuario registrado
        .mt-md-5.font-2-vh-md.mt-3-vh.fw-bolder.font-2-vh
            div.text-primary.fw-normal
                | ¿Tu cliente ya esta registrado?
        .font-2-vh-md.fw-light.font-2-vh   Por favor escribe el número de cédula de la persona únicamente <br class='d-md-block d-none'> si ya ha sido registrado en otra oportunidad.
        div.mt-0.col-md-8.pt-30-px-md.pt-30-px
            label.form-label.ps-2.ms-1.font-1-5-vh-md NÚMERO CÉDULA DE CIUDADANÍA
            input(type="tel", min="0", inputmode="tel", name="tel-number", placeholder="Número de cedula de ciudadania").form-control
        .mt-md-5.pt-md-5.mt-2.pt-5.justify-content-between.d-flex.d-md-block
            a(href="").btn.btn-outline-primary.btn-lg.font-14-xs ATRÁS
            button(type="submit", disabled="true").btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs CONTINUAR
        .mt-md-0.pt-md-0.mt-0.pt-0
            .form-check.mt-5.pt-5
                input#flexCheckDefault.form-check-input(type='checkbox' value='' checked='' name="term" required)
                label.form-check-label(for='flexCheckDefault').font-1-60-vh-md.mt-1.mt-md-0
                    | Aceptar
                    a(href="") Términos y condiciones
            .form-check
                input#flexCheckChecked1.form-check-input(type='checkbox' value='' name="policy" required)
                label.form-check-label(for='flexCheckChecked1').font-1-60-vh-md
                    | Aceptar
                    a(href="") Políticas de Protección al Consumidor
            .form-check
                input#flexCheckChecked2.form-check-input(type='checkbox' value='' name="policy-dato" required)
                label.form-check-label(for='flexCheckChecked2').font-1-60-vh-md
                    | Aceptar
                    a(href="") Políticas de Tratamiento de Datos Personales
block script
    script(src="js/script-page/usuario-registrado.js")