extends ../layouts/_layout_one
block variables
    - var page_datos = { title: 'crediminuto || Usuario registrado', back: true, cliente:false}
block content_left
    div
        .col-sm-11.col-12.mx-auto.d-block.d-md-none.message-top
            .text-center.text-white.font-20-px.font-15-xs.mx-auto.pt-70-px.pt-50-px-xs.align-items-center
                img(src="image/luz.png", alt="", width="50").pe-2.pt-n4
                | Desliza para consejos y recomendaciones
        .col-md-9.col-10.col-sm-11.mx-auto.min-vh-50.pb-md-0.pb-5
            .text-center.text-white.font-28-md.font-21-sm.font-18-xs.col-md-9.col-sm-10.mx-auto.pt-120-px-md.pt-55-px.fw-normal
                | ¡Ahora Crediminuto tiene más y mejores beneficios para tí y tus clientes!
            img(src="image/elemento-2.svg", alt="", sizes="", srcset="").img-w-35-vh-md.img-w-35-vh.mx-auto.d-block.mt-md-4
block content_right
    form(id="form-page-register").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-30-px.mt-md-1
            span.pl-1-vh.font-28-md.font-22-px.fw-normal 01. Usuario registrado
        .mt-md-5.font-24-md.font-20-px.mt-40-px
            div.text-primary.fw-normal
                | ¿Tu cliente ya esta registrado?
        .font-24-md.font-15-px   Por favor escribe el número de cédula de la persona únicamente <br class="d-md-block d-none"> si ya ha sido registrado en otra oportunidad.
        div.mt-4.col-md-8.pt-45-px-md.pt-30-px
            label.form-label.ps-2.ms-1.font-16-px NÚMERO CÉDULA DE CIUDADANÍA
            input(type="tel", min="0", inputmode="tel", name="tel-number", placeholder="Número de cedula de ciudadania").form-control
        .mt-80-px-md.mt-60-px.justify-content-between.d-flex.d-md-block
            a(href="").btn.btn-outline-primary.btn-lg.font-14-xs ATRÁS
            button(type="submit", disabled="true").btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs CONTINUAR
        .mt-80-px-md.mt-60-px
            .form-check
                input#flexCheckDefault.form-check-input(type='checkbox' value='' checked='' name="term" required)
                label.form-check-label(for='flexCheckDefault').font-18-md.font-13-xs
                    | Aceptar
                    a(href="") Términos y condiciones
            .form-check
                input#flexCheckChecked1.form-check-input(type='checkbox' value='' name="policy" required)
                label.form-check-label(for='flexCheckChecked1').font-18-md.font-13-xs
                    | Aceptar
                    a(href="") Políticas de Protección al Consumidor
            .form-check
                input#flexCheckChecked2.form-check-input(type='checkbox' value='' name="policy-dato" required)
                label.form-check-label(for='flexCheckChecked2').font-18-md.font-13-xs
                    | Aceptar
                    a(href="") Políticas de Tratamiento de Datos Personales
block script
    script(src="js/script-page/usuario-registrado.js")