extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Usuario registrado', back: true, cliente:false}
    - var   text_1  =   "¡Ahora Crediminuto tiene <br class='d-md-block d-none'> más y mejores beneficios<br class='d-md-block d-none'> para tí y tus clientes!";
    - var   text_2  =   false;
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-2.svg";

block content_right
    form(id="form-page-register").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-30-px
            span.pl-1-vh.font-24-md.font-22-px.fw-normal 01. Usuario registrado
        .mt-md-5.font-20-md.font-20-px.mt-40-px.fw-bolder
            div.text-primary.fw-normal
                | ¿Tu cliente ya esta registrado?
        .font-20-md.font-15-px.fw-light   Por favor escribe el número de cédula de la persona únicamente <br class="d-md-block d-none"> si ya ha sido registrado en otra oportunidad.
        div.mt-3.col-md-8.pt-30-px-md.pt-30-px
            label.form-label.ps-2.ms-1.font-16-px NÚMERO CÉDULA DE CIUDADANÍA
            input(type="tel", min="0", inputmode="tel", name="tel-number", placeholder="Número de cedula de ciudadania").form-control
        .mt-80-px-md.mt-60-px.justify-content-between.d-flex.d-md-block
            a(href="").btn.btn-outline-primary.btn-lg.font-14-xs ATRÁS
            button(type="submit", disabled="true").btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs CONTINUAR
        .mt-80-px-md.mt-60-px
            .form-check
                input#flexCheckDefault.form-check-input(type='checkbox' value='' checked='' name="term" required)
                label.form-check-label(for='flexCheckDefault').font-18-md.font-13-xs
                    | Aceptar
                    a(href="") Términos y condiciones
            .form-check
                input#flexCheckChecked1.form-check-input(type='checkbox' value='' name="policy" required)
                label.form-check-label(for='flexCheckChecked1').font-18-md.font-13-xs
                    | Aceptar
                    a(href="") Políticas de Protección al Consumidor
            .form-check
                input#flexCheckChecked2.form-check-input(type='checkbox' value='' name="policy-dato" required)
                label.form-check-label(for='flexCheckChecked2').font-18-md.font-13-xs
                    | Aceptar
                    a(href="") Políticas de Tratamiento de Datos Personales
block script
    script(src="js/script-page/usuario-registrado.js")