extends ../layouts/_layout_one
block variables
    - var page_datos = { title: 'crediminuto || Subir foto selfie', back: true, cliente:false}
block content_left
    div
        .col-sm-11.col-12.mx-auto.d-block.d-md-none.message-top
            .text-center.text-white.font-20-px.font-15-xs.mx-auto.pt-70-px.pt-50-px-xs.align-items-center
                img(src="image/luz.png", alt="", width="50").pe-2.pt-n4
                | Desliza para consejos y recomendaciones
        .col-md-10.col-10.col-sm-11.mx-auto.min-vh-50.pb-md-0.pb-5
            .text-center.text-white.font-26-md.font-21-sm.font-18-xs.col-md-9.col-sm-10.mx-auto.pt-120-px-md.pt-55-px.fw-bold
                | Openbanking
                .raya.col-md-2.col-2.mx-auto.my-md-3.my-3
            ol.text-white.col-md-9.col-sm-10.mx-auto.mt-md-4.mt-4
                li.d-flex.align-items-center.font-20-md.font-14-sm.font-14-xs  #[img(src="image/icono-number-1.png").me-md-2.me-2.img-w-6-vh-xs]
                    |   Tus credenciales están encintadas y no serán almacenadas
                li.d-flex.align-items-center.font-20-md.font-14-sm.my-md-3.my-3.font-14-xs  #[img(src="image/icono-number-2.png").me-md-2.me-2.img-w-6-vh-xs]
                    |   Fusce sed diam semper, sodales odio quis, posuere nisl
                li.d-flex.align-items-center.font-20-md.font-14-sm.font-14-xs  #[img(src="image/icono-number-3.png").me-md-2.me-2.img-w-6-vh-xs]
                    |   Quisque auctor, enim id consectetur rhoncus
block content_right
    form(id="upload-selfie").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-md-flex.d-grid.mt-20-px-md.mt-50-px-xs.align-items-center.pe-5.col-md-9.justify-content-md-between.justify-content-center
            img(src="image/icono-banco.svg").img-w-8-vh-xs.img-w-7-vh-md.mx-md-0.mx-auto
            .pl-2-vh.mt-md-0.mt-4
                .font-25-md.font-20-px.fw-normal Validación con cuenta banco
        .font-24-md.font-15-px.mt-50-px-md.mt-20-px-sm.mt-20-px-xs.text-md-start.text-center
            |   Lorem ipsum dolor sit amet, consectetur adipiscing elit. #[br.d-md-block.d-none] Maecenas eleifend elementum libero ut rutrum.
            div.mt-md-3.mt-2 #[a(href="") Ver privacidad]
        .mt-100-px-md.mt-60-px.d-flex.d-md-block.justify-content-md-between.justify-content-center
            button(type="submit").btn.btn-primary.btn-lg.ms-md-4.font-14-xs VALIDAR