extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Cuenta correo', back: true, cliente:true}
    - var   text_1  =   "";
    - var   text_2  = false;
    - var   text_3  = false;
    - var   ol      = false;
    - var   ol2     = false;
    - var   img     = false;

block content_right
    form(id="form-validate-code").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-25-px
            span.pl-1-vh.font-24-md.font-18-px.fw-normal Generar y descargar archivo
        .mt-md-5.font-24-md.font-20-px.mt-40-px
            div.text-primary.fw-normal
        div.text-primary.mt-md-3#time-code
        .mt-60-px-md.mt-60-px.justify-content-center.d-flex.d-md-block.justify-content-md-between
            button(type="submit").btn.btn-lg.ms-md-4.continuar-btn.btn-light-color.font-14-xs.btn-light.col-md-5.col-12.d-flex.justify-content-center
                img(src="image/icono-reload.svg").me-md-3.me-3
                | Document_name.pdf
        .mt-40-px-md.mt-30-px.justify-content-center.d-block.d-md-block.justify-content-md-between.ps-md-4.ps-2.font-22-md
            b User name
            div Monto a financiar #[span $324.545]
            div Monto anticipo #[span $100.000]
        .mt-40-px-md.mt-30-px.justify-content-center.d-flex.d-md-block.justify-content-md-between
            button.btn.btn-lg.ms-md-4.continuar-btn.btn-light-color.font-14-xs.btn-light.col-md-5.col-12.d-flex.justify-content-center
                img(src="image/icono-download.svg").me-md-3.me-3
                | DESCARGAR
        .mt-80-px-md.mt-30-px.justify-content-center.d-flex.d-md-block.justify-content-md-start.justify-content-center
            button.btn.btn-lg.btn-primary.ms-md-4.font-14-xs.d-flex.justify-content-center
                | CONTINUAR