extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Subir foto selfie', back: true, cliente:true}
    - var   text_1  =   "¡Aviso!";
    - var   text_2  =   "Lamentablemente no podemos <br class='d-md-block d-block'> continuar con la solicitud.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-17.svg";

block content_right
    form(id="upload-selfie").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-md-flex.d-grid.align-items-center.pe-md-5.col-md-9.justify-content-md-start.justify-content-center.pt-1
            img(src="image/icono-error-2.svg").mx-md-0.mx-auto.img-w-8-vh.img-w-8-vh-md
            .pl-2-vh.mt-md-0.mt-4
                .fw-normal.text-center.font-3-vh.font-3-vh-md.text-md-start ¡Ups!, no pudimos validar<br class='d-md-block d-none'> la identidad del cliente
        .text-md-start.text-center.fw-light.font-2-vh.font-2-vh-md.mt-md-5.mt-4
            |   #[b Sentimos], no se ha podido validar la identidad a #[br.d-md-block.d-none]través de las preguntas de seguridad.
        .d-flex.d-md-block.justify-content-md-between.justify-content-center.mt-4.mt-md-5.pt-3
            a.btn.btn-primary.btn-lg.font-14-xs Volver

