extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Subir foto selfie', back: true, cliente:false}
    - var   text_1  =   "Recomendación";
    - var   text_2  = "En caso de que el cliente quiera<br class='d-md-block d-block'> modificar la frecuencia o no este<br class='d-md-block d-block'> de acuerdo con el monto de la cuota puede<br class='d-md-block d-block'> utilizar el botón “Atrás”.";
    - var   text_3  = false;
    - var   ol      = false;
    - var   ol2     = false;
    - var   img     = "elemento-18.svg";

block content_right
    form(id="upload-selfie").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-25-px
            span.pl-1-vh.font-24-md.font-18-px.fw-normal 08. Solicitud aprobada
        .font-24-md.font-15-px.mt-20-px-sm.mb-10-px-sm.mb-10-px-xs.mt-18-px-xs.mt-40-px-md   Resumen de crédito:
        div.bg-light.bg-opacity-50.p-md-5
            div.row
                span.col-md-4.col-6.font-14-sm.font-12-xs.font-20-md.text-black-50    MARCA
                span.col-md-6.col-6.font-14-sm.font-12-xs.font-20-md   Samsung
            div.row.mt-md-2.mt-1
                span.col-md-4.col-6.font-14-sm.font-12-xs.font-20-md.text-black-50   MODELO
                span.col-md-6.col-6.font-14-sm.font-12-xs.font-20-md   Galaxy A21 - 128GB
            div.row.mt-md-2.mt-1
                span.col-md-4.col-6.font-14-sm.font-12-xs.font-20-md.text-black-50   MONTO A FINANCIAR
                span.col-md-6.col-6.font-14-sm.font-12-xs.font-20-md   $XXX.XXX
            div.row.mt-md-2.mt-1
                span.col-md-4.col-6.font-14-sm.font-12-xs.font-20-md.text-black-50   FRECUENCIA
                span.col-md-6.col-6.font-14-sm.font-12-xs.font-20-md   Semanal
            div.row.mt-md-2.mt-1
                span.col-md-4.col-6.font-14-sm.font-12-xs.font-20-md.text-black-50   PLAZO
                span.col-md-6.col-6.font-14-sm.font-12-xs.font-20-md   6 cuotas
            div.row.mt-md-2.mt-1
                span.col-md-4.col-6.font-14-sm.font-12-xs.font-20-md.text-black-50   MONTO CUOTA
                span.col-md-6.col-6.font-14-sm.font-12-xs.font-20-md   $XXX.XXX
        .text-primary.aling-items-center.d-md-flex.d-flex.mt-40-px-md.mt-30-px-xs.align-items-center.pe-md-5.col-md-9.justify-content-md-start.justify-content-start
            img(src="image/icono-alegre.svg").img-w-8-vh-xs.img-w-6-vh-md
            .pl-2-vh.mt-md-0.lh-1
                .font-25-md.font-20-sm.font-18-xs.fw-normal
                    | ¡Buenas noticias! #[br]
                    span.font-22-md.font-16-sm.font-14-xs     Tu cliente puede aumentar su financiación.
        .mt-70-px-md.mt-60-px.d-flex.d-md-block.justify-content-md-between.justify-content-center
            button(type="submit").btn.btn-primary.btn-lg.ms-md-4.font-14-xs CONTINUAR

