extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Subir foto selfie', back: true, cliente:true}
    - var   text_1  =   "¡Aviso!";
    - var   text_2  =   "Lamentablemente no podemos continuar con <br> la solicitud. <b> Invita a tu cliente a generar una nueva <br> solicitud en 90 días.</b>";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-17.svg";

block content_right
    form(id="upload-selfie").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-md-flex.d-grid.align-items-center.pe-md-5.col-md-9.justify-content-md-start.justify-content-center
            img(src="image/icono-error-2.svg").img-w-8-vh.img-w-7-vh-md.mx-md-0.mx-auto.mt-2
            .pl-2-vh.mt-md-0.mt-4.pt-2
                .font-35-md.font-20-px.fw-normal ¡Ups! Identidad no validada
        .text-md-start.text-center.mt-2.mt-md-4.pt-md-3.font-2-vh.font-2-vh-md
            |   Lamentablemente nuestro sistema no ha validado el #[br.d-md-block.d-none] préstamo para #[b JUAN PÉREZ MORENO.]
            |   #[br]
            |   #[br]
            |   #[b.mt-4 Invitalo a regresar en 90 días, podrá ingresar una #[br]  nueva solicitud.]
        .mt-70-px-md.mt-60-px.d-flex.d-md-block.justify-content-md-between.justify-content-center
            button(type="submit").btn.btn-primary.btn-lg.font-14-xs Salir