extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Envío de SMS', back: true, cliente:false}
    - var   text_1  =   "¡Tu cliente tiene habilitado<br> crédito para accesorios!";
    - var   text_2  =   false;
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-20.svg";

block content_right
    form(id="form-datos-personales").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-25-px
            span.pl-1-vh.font-24-md.font-18-px.fw-normal 10. Accesorios
        .mt-md-5.font-24-md.font-20-px.mt-40-px
            div.text-primary.fw-normal
        .font-20-md.font-15-px  #[b.text-primary  Juan Pérez Moreno] tiene hasta #[b.text-primary  $XXX.XXX] #[br.d-md-block.d-none]
            |   para financiar accesorios. ¿Quiere aprovecharlo?
        div.mt-4.col-md-8.pt-15-px-md.pt-20-px
            label.form-label.ps-2.ms-1.font-15-md MONTO PARA ACCESORIOS
            input(type="tel", name="phone", placeholder="$0.00").form-control
        .mt-100-px-md.mt-60-px.justify-content-center.d-flex.d-md-block.justify-content-md-start.justify-content-between
            button.btn.btn-lg.ms-md-4.font-14-xs.btn-outline-primary SIN ACCESORIOS
            button(type="submit").btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs CONTINUAR
block script
    script(src="js/script-page/envio-sms.js")