extends ../layouts/_layout_one
block variables
    - var page_datos = { title: 'crediminuto || Envío de SMS', back: true, cliente:true, phone:false}
block content_left
    div
        .col-sm-11.col-12.mx-auto.d-block.d-md-none.message-top
            .text-center.text-white.font-20-px.font-15-xs.mx-auto.pt-70-px.pt-50-px-xs.align-items-center
                img(src="image/luz.png", alt="", width="50").pe-2.pt-n4
                | Desliza para consejos y recomendaciones
        .col-md-9.col-10.col-sm-11.mx-auto.min-vh-50.pb-md-0.pb-5
            .text-center.text-white.font-26-md.font-21-sm.font-18-xs.col-md-9.col-sm-10.mx-auto.pt-120-px-md.pt-55-px.fw-bold
                | ¡Ya casi!
                .raya.col-md-2.col-2.mx-auto.my-md-3.my-3
            .text-center.text-white.font-20-md.font-16-sm.font-14-xs.col-md-9.col-sm-10.mx-auto.fw-normal
                | Antes de enrolar al cliente y configurar el nuevo dispositivo es importante revisar todos los datos para reconfortar con el cliente.
            img(src="image/elemento-21.svg", alt="", sizes="", srcset="").img-w-35-vh-md.img-w-35-vh.mx-auto.d-block.mt-md-4
block content_right
    form(id="form-datos-personales").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex.justify-content-md-start.justify-content-center
            span.font-40-md.font-18-px.fw-normal RESUMEN FINAL
        .mt-md-4.font-24-md.font-20-px.mt-3
            div.text-primary.fw-normal
        .font-24-md.font-15-px.text-md-start.text-center  #[b.text-primary ¡Éxito!] Resumen final de la operación
        div.bg-light.bg-opacity-50.p-md-5.p-3.mt-md-4.mt-4
            div.row
                span.col-md-12.col-12.font-30-md.font-20-sm.font-18-xs   Número de contrato #1234567
            hr.hr
            div.row
                span.col-md-4.col-6.font-14-sm.font-12-xs   MARCA
                span.col-md-6.col-6.font-14-sm.font-12-xs  Samsung
            div.row.mt-md-2.mt-1
                span.col-md-4.col-6.font-14-sm.font-12-xs  MODELO
                span.col-md-6.col-6.font-14-sm.font-12-xs  Galaxy A21 - 128GB
            div.row.mt-md-2.mt-1
                span.col-md-4.col-6.font-14-sm.font-12-xs  MONTO A FINANCIAR
                span.col-md-6.col-6.font-14-sm.font-12-xs  $XXX.XXX
            div.row.mt-md-2.mt-1
                span.col-md-4.col-6.font-14-sm.font-12-xs  FRECUENCIA
                span.col-md-6.col-6.font-14-sm.font-12-xs  Semanal
            div.row.mt-md-2.mt-1
                span.col-md-4.col-6.font-14-sm.font-12-xs  PLAZO
                span.col-md-6.col-6.font-14-sm.font-12-xs  6 cuotas
            div.row.mt-md-2.mt-1
                span.col-md-4.col-6.font-14-sm.font-12-xs  ANTICIPO
                span.col-md-6.col-6.font-14-sm.font-12-xs  $150.000
            div.row.mt-md-2.mt-1
                span.col-md-4.col-6.font-14-sm.font-12-xs  PLAN DE PAGO
                span.col-md-6.col-6.font-14-sm.font-12-xs  3 cuotas
            div.row.mt-md-2.mt-1
                span.col-md-4.col-6.font-14-sm.font-12-xs  MONTO DE LA CUOTA
                span.col-md-6.col-6.font-14-sm.font-12-xs  $90.000
            div.row.mt-md-2.mt-1
                span.col-md-4.col-6.font-14-sm.font-12-xs  PRIMER FECHA DE PAGO
                span.col-md-6.col-6.font-14-sm.font-12-xs  05/05/2022
            hr.hr
            .detalle(style="display:none")
                div.row.mt-md-2.mt-1
                    span.col-md-4.col-6.font-14-sm.font-12-xs  INTERESES
                    span.col-md-6.col-6.font-14-sm.font-12-xs  $XXX.XXX
                div.row.mt-md-2.mt-1
                    span.col-md-4.col-6.font-14-sm.font-12-xs  USO PLATAFORMA
                    span.col-md-6.col-6.font-14-sm.font-12-xs  $XXX.XXX
                div.row.mt-md-2.mt-1
                    span.col-md-4.col-6.font-14-sm.font-12-xs  VERIFICACION
                    span.col-md-6.col-6.font-14-sm.font-12-xs  $XXX.XXX
                div.row.mt-md-2.mt-1
                    span.col-md-4.col-6.font-14-sm.font-12-xs  TASA INTERES NOMINAL
                    span.col-md-6.col-6.font-14-sm.font-12-xs  $XXX.XXX
                div.row.mt-md-2.mt-1
                    span.col-md-4.col-6.font-14-sm.font-12-xs  Cuota 01 - 05/05/2022
                    span.col-md-6.col-6.font-14-sm.font-12-xs  $XXX.XXX
                div.row.mt-md-2.mt-1
                    span.col-md-4.col-6.font-14-sm.font-12-xs  Cuota 02 - 20/05/2022
                    span.col-md-6.col-6.font-14-sm.font-12-xs  $XXX.XXX
                div.row.mt-md-2.mt-1
                    span.col-md-4.col-6.font-14-sm.font-12-xs  Cuota 03 - 05/06/2022
                    span.col-md-6.col-6.font-14-sm.font-12-xs  $XXX.XXX
                div.row.mt-md-2.mt-1
                    span.col-md-4.col-6.font-14-sm.font-12-xs  Cuota 04 - 20/06/2022
                    span.col-md-6.col-6.font-14-sm.font-12-xs  $XXX.XXX
                div.row.mt-md-2.mt-1
                    span.col-md-4.col-6.font-14-sm.font-12-xs  Cuota 05 - 05/07/2022
                    span.col-md-6.col-6.font-14-sm.font-12-xs  $XXX.XXX
                div.row.mt-md-2.mt-1
                    span.col-md-4.col-6.font-14-sm.font-12-xs  Cuota 06 - 20/07/2022
                    span.col-md-6.col-6.font-14-sm.font-12-xs  $XXX.XXX
            div.row.mt-md-4.mt-4
                a(href="").view-datalle
                    img(src="image/icono-plus.svg").img-w-7-vh-xs.img-w-5-vh-md
                    span.font-20-md.text-primary.ms-md-2.ms-2    DETALLE DEL CRÉDITO
        .mt-80-px-md.mt-60-px.justify-content-center.d-flex.d-md-block.justify-content-md-start.justify-content-center
            button(type="submit").btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs ENRROLAR
block script
    script(src="js/script-page/resumen-final.js")