extends ../layouts/_layout_one
block variables
    - var page_datos = { title: 'crediminuto || Usuario registrado', back: true}
block content_left
    div
        .col-sm-11.col-12.mx-auto.d-block.d-md-none.message-top
            .text-center.text-white.font-20-px.font-15-xs.mx-auto.pt-70-px.pt-50-px-xs.align-items-center
                img(src="image/luz.png", alt="", width="50").pe-2.pt-n4
                | Desliza para consejos y recomendaciones
        .col-md-9.col-10.col-sm-11.mx-auto.min-vh-50.pb-md-0.pb-5
            .text-center.text-white.font-26-md.font-21-sm.font-18-xs.col-md-9.col-sm-10.mx-auto.pt-120-px-md.pt-55-px.fw-bold
                | ¿Nos conocemos?
                .raya.col-md-2.col-2.mx-auto.my-md-3.my-3
            .text-center.text-white.font-26-md.font-16-sm.font-14-xs.col-md-9.col-sm-10.mx-auto.fw-normal
                | Por favor confirmar la identidad del cliente con los datos que se muestran en la cédula, para agilizar el proceso.
            img(src="image/elemento-3.svg", alt="", sizes="", srcset="").img-w-35-vh-md.img-w-35-vh.mx-auto.d-block.mt-md-4
block content_right
    form(id="form-page-register").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-25-px.mt-md-1
            span.pl-1-vh.font-28-md.font-18-px.fw-normal 01. Usuario registrado
        .mt-md-5.font-24-md.font-20-px.mt-40-px
            div.text-primary.fw-normal
        .font-24-md.font-15-px   Para avanzar, corroborar si el siguiente es el cliente <br class="d-md-block d-none"> que se está registrando:
        div.mt-4.col-md-8.pt-45-px-md.pt-10-px.align-items-center.d-flex.pl-35-px
            img(src="image/elemento-user.svg").img-w-5-vh-xs
            label.form-label.ps-2.ms-1.font-20-px.text-primary.fw-bold.mb-0 JUAN PÉREZ MORENO
        .mt-80-px-md.mt-60-px.justify-content-between.d-flex.d-md-block
            a(href="").btn.btn-outline-primary.btn-lg.font-14-xs Si
            button(type="submit", disabled="true").btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs No
block script
    script(src="js/script-page/usuario-registrado.js")