extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Usuario registrado', back: true, cliente:false}
    - var   text_1  =   "<p class='mb-2 mb-md-2'>¿Nos conocemos?</p>";
    - var   text_2  =   "Por favor confirmar la identidad del cliente <br class='d-md-none d-block'> con los datos que se muestran en la cédula, <br class='d-md-none d-block'>para agilizar el proceso.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-3.svg";

block content_right
    form(id="form-page-register").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-3-vh-md.font-3-vh.mt-1.mt-md-1
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal 01. Usuario registrado
        .mt-md-5.font-2-vh-md.mt-3-vh.fw-bolder.font-2-vh
            div.text-primary.fw-normal
        .font-2-vh-md.fw-light.font-2-vh   Para avanzar, corroborar si el siguiente es el cliente <br class="d-md-block d-none"> que se está registrando:
        div.mt-4.pt-4.col-md-8.align-items-center.d-flex.pl-35-px
            img(src="image/elemento-user.svg").img-w-5-vh.img-w-5-vh-md
            label.form-label.ps-2.ms-1.text-primary.mb-0.fw-bold.font-2-50-vh-md JUAN PÉREZ MORENO
        .mt-md-5.pt-md-5.mt-3.pt-5.justify-content-md-start.d-flex.d-md-block.justify-content-between
            a(href="").btn.btn-outline-primary.btn-lg.font-14-xs Si
            button(type="submit", disabled="true").btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs No
block script
    script(src="js/script-page/usuario-registrado.js")