extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Envío de SMS', back: true, cliente:true, phone:true, imei:true}
    - var   text_1  =   "Recomendación";
    - var   text_2  =   "Al iniciar el equipo validar que las app de<br class='d-md-block d-block'> kuipermake y crediminuto ya se encuentren<br class='d-md-block d-block'> descargadas para continuar el proceso. ";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-22-1.svg";

block content_right
    form(id="form-enrolar-equipo").pt-6-89-vh-md.pt-2-vh
        .text-primary.text-center.text-md-start.d-md-flex
            img(src="image/icono-closed.svg").mx-md-0.mx-auto.img-w-5-vh.img-w-6-vh-md
            div.pl-2-vh.fw-normal.mt-3.mt-md-0.pt-2.lh-1.text-md-start.text-center.d-md-block.d-none.font-4-vh-md.font-2-50-vh
                | Ahora es momento #[br.d-md-block.d-none]
                | de hacer#[br.d-md-none.d-block] el login la app Crediminuto
            div.pl-2-vh.font-35-md.font-18-px.fw-normal.mt-3.mt-md-0.pt-2.lh-1.text-md-start.text-center.d-md-none.d-block.lh-base
                | Ahora es momento de hacer  #[br.d-md-block.d-block]
                | el login de ls app Crediminuto con el #[br]
                | #[b Codigo 1234]
        .mt-md-4.text-md-start.text-center.mt-4.pt-md-4
            img(src="image/icono-credi.svg").img-w-10-vh.img-w-14-vh-md
        .mt-4.pt-4.justify-content-center.d-flex.d-md-block.justify-content-md-start.justify-content-center
            button(type="submit").btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs CONTINUAR