extends ../layouts/_layout_one
block variables
    - var page_datos = { title: 'crediminuto || Envío de SMS', back: true, cliente:true, phone:true}
    - var   text_1  =   "Recomendación";
    - var   text_2  =   "Al iniciar el equipo validar que las app de<br class='d-md-block d-none'> kuipermake y crediminuto ya se encuentren<br class='d-md-block d-none'> descargadas para continuar el proceso. ";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-22.svg";

block content_right
    form(id="form-enrolar-equipo").pt-50-px-md.pt-40-px.pb-64-px
        .text-primary.justify-content-center.d-grid.d-md-flex.justify-content-md-start.justify-content-center
            img(src="image/icono-cohete.svg").mx-md-0.mx-auto
            div.pl-2-vh.font-35-md.font-18-px.fw-normal.mt-3.mt-md-0.pt-2.lh-base.text-md-start.text-center
                | El préstamo ya se encuentra #[br.d-md-none.d-block] ACTIVO! #[br.d-md-block.d-none] Ya puedes entregar el #[br.d-md-none.d-block] teléfono al cliente.
        .mt-80-px-md.mt-60-px.justify-content-between.d-flex.d-md-block
            a(href="").btn.btn-outline-primary.btn-lg DETALLE DEL PRÉSTAMO
            button(type="submit").btn.btn-primary.btn-lg.ms-md-4.continuar-btn FINALIZAR
        .mt-80-px-md.mt-60-px
            .form-check
                input#flexCheckDefault.form-check-input(type='checkbox' value='' checked='' name="term" required)
                label.form-check-label(for='flexCheckDefault').font-18-md.font-13-xs
                    | Aceptar
                    a(href="") Términos y condiciones
            .form-check
                input#flexCheckChecked1.form-check-input(type='checkbox' value='' name="policy" required)
                label.form-check-label(for='flexCheckChecked1').font-18-md.font-13-xs
                    | Aceptar
                    a(href="") Políticas de Protección al Consumidor
            .form-check
                input#flexCheckChecked2.form-check-input(type='checkbox' value='' name="policy-dato" required)
                label.form-check-label(for='flexCheckChecked2').font-18-md.font-13-xs
                    | Aceptar
                    a(href="") Políticas de Tratamiento de Datos Personales