extends ../layouts/_layout_one
block variables
    - var page_datos = { title: 'crediminuto || Envío de SMS', back: true, cliente:true, phone:true}
block content_left
    div
        .col-sm-11.col-12.mx-auto.d-block.d-md-none.message-top
            .text-center.text-white.font-20-px.font-15-xs.mx-auto.pt-70-px.pt-50-px-xs.align-items-center
                img(src="image/luz.png", alt="", width="50").pe-2.pt-n4
                | Desliza para consejos y recomendaciones
        .col-md-9.col-10.col-sm-11.mx-auto.min-vh-50.pb-md-0.pb-5
            .text-center.text-white.font-26-md.font-21-sm.font-18-xs.col-md-9.col-sm-10.mx-auto.pt-120-px-md.pt-55-px.fw-bold
                | Recomendación
                .raya.col-md-2.col-2.mx-auto.my-md-3.my-3
            .text-center.text-white.font-20-md.font-16-sm.font-14-xs.col-md-9.col-sm-10.mx-auto.fw-normal
                | Al iniciar el equipo validar que las app de kuipermake y crediminuto ya se encuentren descargadas para continuar el proceso.
            img(src="image/elemento-22.svg", alt="", sizes="", srcset="").img-w-35-vh-md.img-w-35-vh.mx-auto.d-block.mt-md-4
block content_right
    form(id="form-enrolar-equipo").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.justify-content-center.d-grid.d-md-flex.justify-content-md-start.justify-content-center
            img(src="image/icono-cohete.svg").mx-md-0.mx-auto
            div.pl-2-vh.font-35-md.font-18-px.fw-normal.mt-3.mt-md-0.pt-2.lh-base.text-md-start.text-center
                | El préstamo ya se encuentra #[br.d-md-none.d-block] ACTIVO! #[br.d-md-block.d-none] Ya puedes entregar el #[br.d-md-none.d-block] teléfono al cliente.
        .mt-80-px-md.mt-60-px.justify-content-between.d-flex.d-md-block
            a(href="").btn.btn-outline-primary.btn-lg DETALLE DEL PRÉSTAMO
            button(type="submit").btn.btn-primary.btn-lg.ms-md-4.continuar-btn FINALIZAR
        .mt-80-px-md.mt-60-px
            .form-check
                input#flexCheckDefault.form-check-input(type='checkbox' value='' checked='' name="term" required)
                label.form-check-label(for='flexCheckDefault').font-18-md.font-13-xs
                    | Aceptar
                    a(href="") Términos y condiciones
            .form-check
                input#flexCheckChecked1.form-check-input(type='checkbox' value='' name="policy" required)
                label.form-check-label(for='flexCheckChecked1').font-18-md.font-13-xs
                    | Aceptar
                    a(href="") Políticas de Protección al Consumidor
            .form-check
                input#flexCheckChecked2.form-check-input(type='checkbox' value='' name="policy-dato" required)
                label.form-check-label(for='flexCheckChecked2').font-18-md.font-13-xs
                    | Aceptar
                    a(href="") Políticas de Tratamiento de Datos Personales