extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Nro. de celular registrado', back: true, cliente:false}
    - var   text_1  =   "Ups, algo no está bien";
    - var   text_2  =   "Este número ya fue utilizado.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-4.svg";

block content_right
    form(id="form-page-register").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-3-vh-md.font-3-vh.mt-1.mt-md-1
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal 01. Usuario registrado
        .text-primary.aling-items-center.d-flex.mt-60-px-md.mt-30-px-xs.pl-35-px.align-items-center
            img(src="image/icono-i.svg").img-w-5-vh.img-w-5-vh-md
            span.pl-2-vh.fw-normal.font-2-80-vh.font-2-80-vh-md  Nro. de celular registrado
        .font-2-vh-md.fw-light.font-2-vh.mt-4.pt-2   El numero
            span.text-primary.fw-bold  telf. ingresado en vista 1
            | ya está registrado <br class="d-md-block d-none"> por
            span.text-primary.fw-bold  nombre cliente. <br class="d-md-block d-none">
            | El cliente deberá registrarse con otro número de celular.
        .mt-md-5.pt-md-5.mt-3.pt-4.justify-content-md-start.d-flex.d-md-block.justify-content-center
            a.btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs Volver