extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Nro. de celular registrado', back: true, cliente:false}
    - var   text_1  =   "Ups, algo no está bien";
    - var   text_2  =   "Este número ya fue utilizado.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-4.svg";

block content_right
    form(id="form-page-register").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-25-px
            span.pl-1-vh.font-24-md.font-18-px.fw-normal 01. Usuario registrado
        .text-primary.aling-items-center.d-flex.mt-60-px-md.mt-30-px-xs.pl-35-px.align-items-center
            img(src="image/icono-i.svg")
            span.pl-2-vh.font-24-md.font-18-px.fw-normal Nro. de celular registrado
        .mt-md-5.font-20-md.font-20-px.mt-40-px
            div.text-primary.fw-normal
        .font-20-md.font-15-px.pt-20-px-md   El numero
            span.text-primary  telf. ingresado en vista 1
            | ya está registrado <br class="d-md-block d-none"> por
            span.text-primary  nombre cliente. <br class="d-md-block d-none">
            | El cliente deberá registrarse con otro número de celular.
        .mt-80-px-md.mt-60-px.justify-content-between.d-flex.d-md-block
            a(href="").btn.btn-outline-primary.btn-lg.font-14-xs Si
            button.btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs No
block script
    script(src="js/script-page/usuario-registrado.js")