extends ../layouts/_layout_one
block variables
    - var page_datos = { title: 'crediminuto || Subir foto selfie', back: true, cliente:false}
block content_left
    div
        .col-sm-11.col-12.mx-auto.d-block.d-md-none.message-top
            .text-center.text-white.font-20-px.font-15-xs.mx-auto.pt-70-px.pt-50-px-xs.align-items-center
                img(src="image/luz.png", alt="", width="50").pe-2.pt-n4
                | Desliza para consejos y recomendaciones
        .col-md-10.col-10.col-sm-11.mx-auto.min-vh-50.pb-md-0.pb-5
            .text-center.text-white.font-26-md.font-21-sm.font-18-xs.col-md-9.col-sm-10.mx-auto.pt-120-px-md.pt-55-px.fw-bold
                | Recomendación
                .raya.col-md-2.col-2.mx-auto.my-md-3.my-3
            .text-left.text-white.font-26-md.font-16-sm.font-14-xs.col-md-9.col-sm-10.mx-auto.fw-normal
                | ¿Cómo tomar una selfie correctamente?
            ol.text-white.col-md-9.col-sm-10.mx-auto.mt-md-4
                li  Colocar a la persona de frente
                li  Que haya buena luz
                li  Rostro despejado (libre de cabello, gorras, anteojos, tapa bocas u otro tipo de accesorios que impidan una correcta identificación).
                li  Un vez tomada la foto hacer clic en VALIDAR
            img(src="image/elemento-5.svg", alt="", sizes="", srcset="").img-w-35-vh-md.img-w-35-vh.mx-auto.d-block.mt-md-4
            .text-center.text-white.font-24-md.font-16-sm.font-14-xs.col-md-9.mx-auto.fw-normal
                | Recuerda que la validación puede demorar algunos segundos.
block content_right
    form(id="upload-selfie").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-25-px.mt-md-1
            span.pl-1-vh.font-28-md.font-18-px.fw-normal 02. Subir foto selfie
        label(for="capture-camera").aling-items-center.d-flex.mt-70-px-md.mt-50-px-xs.align-items-center.pe-5.col-md-9
            img(src="image/icono-2.svg").img-w-8-vh-xs
            span.pl-2-vh.font-25-md.font-16-px.fw-normal A continuación debemos validar de la identidad del cliente mediante una selfie.
        input(type="file", accept="image/*;capture=camera").d-none#capture-camera
        img(src="").d-none#capture-preview.img-w-40-vh-xs.mt-5.img-w-50-vh-md.mx-auto.d-block.mx-md-0
        .mt-100-px-md.mt-60-px.d-flex.d-md-block.justify-content-between
            a(href="").btn.btn-outline-primary.btn-lg.ms-md-4.font-14-xs.d-none#btn-option Volver a cargar
            button(type="submit").btn.btn-primary.btn-lg.ms-md-4.font-14-xs.d-none#btn-submit Validar
            label(for="capture-camera").btn.btn-primary.btn-lg.ms-md-4.font-14-xs.mx-auto.mx-md-0#btn-validate Validar
block script
    script(src="js/script-page/foto-selfie.js?v=1")