extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Subir foto selfie', back: true, cliente:false}
    - var   text_1  =   "Recomendación";
    - var   text_2  =   "<p class='mb-3'>¿Cómo tomar una selfie correctamente?</p>";
    - var   text_3  =   "<b class='lh-1 pt-5'>Recuerda que la validación puede <br class='d-md-block d-block'> demorar algunos segundos.</b>";
    - var   ol      =   [ "Colocar a la persona de frente", "Que haya buena luz", "Rostro despejado (libre de cabello, gorras, anteojos, tapa bocas u otro tipo de accesorios que impidan una correcta identificación).", "Un vez tomada la foto hacer clic en VALIDAR"];
    - var   ol2     =   false;
    - var   img     =   "elemento-5.svg";

block content_right
    form(id="upload-selfie").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-3-vh-md.font-3-vh.mt-1.mt-md-1
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal 02. Subir foto selfie
        label(for="capture-camera").aling-items-center.d-flex.align-items-center.pe-5.col-md-9.mt-4.pt-3.pb-3
            a(data-action="none-click", data-click="#capture-camera" href="")
                img(src="image/icono-2.svg").img-w-7-vh.img-w-7-vh-md
            span.font-2-vh-md.fw-light.font-2-vh.ps-4 A continuación debemos validar de la identidad del cliente mediante una selfie.
        a(data-action="none-click", data-click="#capture-camera" href="").font-1-5-vh.font-1-5-vh-md Por favor haga click para cargar una foto
        input(type="file", accept="image/*;capture=camera").d-none#capture-camera
        img(src="").d-none#capture-preview.img-w-43-vh.mt-5.img-w-43-vh-md.mx-auto.d-block.mx-md-0
        div.text-warning#foto_invalida.d-none.mt-3.ps-4
            img(src="image/icono-i-w.svg", accept=".jpg, .jpeg, .pdf").img-w-4-vh.img-w-4-vh-md.me-2
            span.font-2-vh.font-2-vh-md    Foto no válida
        .mt-md-5.pt-md-5.mt-3.pt-4.justify-content-md-start.d-flex.d-md-block.justify-content-center
            a(href="").btn.btn-outline-primary.btn-lg.ms-md-0.font-14-xs.d-none#btn-option VOLVAR A CARGAR
            button(type="submit", disabled).btn.btn-primary.btn-lg.ms-md-4.font-14-xs.ms-3#btn-submit VALIDAR
block script
    script(src="js/script-page/5-foto-selfie.js?v=1")