extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Subir foto selfie', back: true, cliente:false}
    - var   text_1  =   "Recomendación";
    - var   text_2  =   "¿Cómo tomar una selfie correctamente?";
    - var   text_3  =   "<b class='lh-1'>Recuerda que la validación puede <br class='d-md-block d-none'> demorar algunos segundos.</b>";
    - var   ol      =   ["Colocar a la persona de frente", "Que haya buena luz", "Rostro despejado (libre de cabello, gorras, anteojos, tapa bocas u otro tipo de accesorios que impidan una correcta identificación).", "Un vez tomada la foto hacer clic en VALIDAR"];
    - var   ol2     =   false;
    - var   img     =   "elemento-5.svg";

block content_right
    form(id="upload-selfie").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-25-px
            span.pl-1-vh.font-24-md.font-18-px.fw-normal 02. Subir foto selfie
        .text-primary.aling-items-center.d-flex.mt-70-px-md.mt-50-px-xs.align-items-center.pe-5.col-md-9
            img(src="image/icono-3.svg").img-w-8-vh-xs.img-w-4-rem-md
            .pl-2-vh
                .font-20-md.font-16-px.fw-bold Ups, algo salió mal con la selfie de
                .font-20-md.font-16-px.fw-bold JUAN PÉREZ MORENO
        .font-20-md.font-15-px.mt-80-px-md.mt-55-px-sm.fw-light
            |La validación de identidad por selfie no fue satisfactoria, <br>
            strong  recomendamos tomar una nueva foto.
        .mt-80-px-md.mt-60-px.d-flex.d-md-block.justify-content-between
            button.btn.btn-outline-primary.btn-lg.ms-md-4.font-14-xs Contactar asesor
            button(type="submit").btn.btn-primary.btn-lg.ms-md-4.font-14-xs VOLVER A INTENTAR
block script
    script(src="js/script-page/foto-selfie.js?v=1")
