extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Subir foto selfie', back: true, cliente:false}
    - var   text_1  =   "Recomendación";
    - var   text_2  =   "<p class='mb-3'>¿Cómo tomar una selfie correctamente?</p>";
    - var   text_3  =   "<b class='lh-1 pt-5'>Recuerda que la validación puede <br class='d-md-block d-block'> demorar algunos segundos.</b>";
    - var   ol      =   ["Colocar a la persona de frente", "Que haya buena luz", "Rostro despejado (libre de cabello, gorras, anteojos, tapa bocas u otro tipo de accesorios que impidan una correcta identificación).", "Un vez tomada la foto hacer clic en VALIDAR"];
    - var   ol2     =   false;
    - var   img     =   "elemento-5.svg";

block content_right
    form(id="upload-selfie").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-3-vh-md.font-3-vh.mt-1.mt-md-1
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal 02. Subir foto selfie
        .text-primary.aling-items-center.d-flex.align-items-center.col-md-9.mt-5.pt-2
            img(src="image/icono-3.svg").img-w-5-vh.img-w-5-vh-md
            .pl-2-vh
                .fw-bold.font-2-30-vh.font-2-30-vh-md Ups, algo salió mal con la selfie<br>  de  JUAN PÉREZ MORENO
        .font-2-vh-md.fw-light.font-2-vh.mt-5
            |La validación de identidad por selfie no fue satisfactoria, <br class="d-md-block d-none">
            strong  recomendamos tomar una nueva foto.
        .mt-md-5.pt-md-5.mt-5.pt-2.d-grid.d-md-flex
            .mt-md-0.pt-md-0.mt-1.pt-3.d-md-block.d-block.justify-content-md-start.justify-content-center.order-2.order-md-1
                button.btn.btn-outline-primary.btn-lg.ms-md-4.mx-auto.d-block Contactar asesor
            .d-md-block.justify-content-md-start.justify-content-center.order-1.order-md-2
                button(type="submit").btn.btn-primary.btn-lg.ms-md-4.mx-auto.d-block  VOLVER A INTENTAR
block script
    script(src="js/script-page/5-foto-selfie.js?v=1")
