extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Subir foto selfie', back: true, cliente:false}
    - var   text_1  =   "Recomendación";
    - var   text_2  =   "¿Cómo cargar la foto de la cédula <br class='d-md-block d-none'> correctamente? ";
    - var   text_3  =   "<b class='lh-1'>Recuerda que la validación puede <br class='d-md-block d-none'> demorar algunos segundos.</b>";
    - var   ol      =   [ "No tomar foto con flash o a contraluz", "Imagen nítida, atención al efecto del holograma o documentos deteriorados", "Enmarcar bien la cédula en la foto sin dejar tanto espacio alrededor", "Revisar que se vean bien tanto foto como datos", "La foto debe ser tomada al documento original del cliente en formato JPG O PNG (No puede ser fotocopia, escaneado, o cualquier otro tipo de formato)"];
    - var   ol2     =   false;
    - var   img     =   "elemento-5-1.svg";

block content_right
    form(id="upload-selfie").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-25-px
            span.pl-1-vh.font-24-md.font-18-px.fw-normal 02. Subir foto selfie
        label(for="capture-camera").aling-items-center.d-flex.mt-70-px-md.mt-50-px-xs.align-items-center.pe-5.col-md-9
            img(src="image/icono-dni.svg").img-w-4-rem-xs
            span.pl-2-vh.font-20-md.font-16-px.fw-light A continuación debemos validar de la identidad del cliente mediante una selfie.
        input(type="file", accept="image/*;capture=camera").d-none#capture-camera
        img(src="").d-none#capture-preview.img-w-40-vh-xs.mt-5.img-w-50-vh-md.mx-auto.d-block.mx-md-0
        .mt-130-px-md.mt-60-px.d-flex.d-md-block.justify-content-between
            a(href="").btn.btn-outline-primary.btn-lg.ms-md-4.font-14-xs.d-none#btn-option Volver a cargar
            button(type="submit").btn.btn-primary.btn-lg.ms-md-4.font-14-xs.d-none#btn-submit Validar
            label(for="capture-camera").btn.btn-primary.btn-lg.ms-md-4.font-14-xs.mx-auto.mx-md-0#btn-validate Validar
block script
    script(src="js/script-page/foto-cedula.js?v=1")