extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Envío de SMS', back: true, cliente:false}
    - var   text_1  =   "Recomendación";
    - var   text_2  =   "Es importante para recibir el SMS al <br class='d-md-block d-none'> momento que el número esté activo, con <br class='d-md-block d-none'>  buena señal y a mano.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-7.svg"

block content_right
    form(id="form-datos-personales").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-25-px
            span.pl-1-vh.font-24-md.font-18-px.fw-normal 04. Envío de SMS
        .mt-md-5.font-24-md.font-20-px.mt-40-px
            div.text-primary.fw-normal
        .font-20-md.font-15-px  Por favor, escribe el número del celular en donde
            |se quiere <br class="d-md-block d-none"> recibir el código:
        div.mt-4.col-md-8.pt-20-px-md.pt-20-px
            label.form-label.ps-2.ms-1 CELULAR
            input(type="tel", name="phone").form-control
        .mt-60-px-md.mt-60-px.justify-content-center.d-flex.d-md-block.justify-content-md-between
            button(type="submit", disabled="true").btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs ENVIAR
block script
    script(src="js/script-page/envio-sms.js")