extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Envío de SMS', back: true, cliente:false}
    - var   text_1  =   "Recomendación";
    - var   text_2  =   "Es importante para recibir el SMS al <br class='d-md-block d-none'> momento que el número esté activo, con <br class='d-md-block d-none'>  buena señal y a mano.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-7.svg"

block content_right
    form(id="form-envio-sms").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-3-vh-md.font-3-vh.mt-1.mt-md-1
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal 04. Envío de SMS
        .font-2-vh-md.fw-light.font-2-vh.mt-4.pt-2  Por favor, escribe el número del celular en donde
            |se quiere <br class="d-md-block d-none"> recibir el código:
        div.mt-4.pt-2.col-md-8
            label.form-label.ps-2.ms-1.font-1-5-vh-md CELULAR
            input(type="number", name="phone").form-control
        .mt-md-5.pt-md-4.pt-4.mt-3.justify-content-center.d-flex.d-md-block.justify-content-md-between
            button(type="submit", disabled).btn.btn-primary.btn-lg.continuar-btn.font-14-xs ENVIAR
block script
    script(src="js/script-page/8-envio-sms.js")