extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Envío de SMS', back: true, cliente:false}
    - var   text_1  =   "Recomendación";
    - var   text_2  =   "Es importante para recibir el SMS al <br class='d-md-block d-none'> momento que el número esté activo, con <br class='d-md-block d-none'>  buena señal y a mano.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-7.svg"

block content_right
    form(id="form-validate-code").pt-69-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-35-md.font-25-px
            span.pl-1-vh.font-24-md.font-18-px.fw-normal 04. Envío de SMS
        .mt-md-5.font-20-md.font-20-px.mt-40-px
            div.text-primary.fw-normal
        .font-20-md.font-15-px.fw-light  Ahora, escribe el código recibido por SMS <br class="d-md-block d-none">
            | en
            b.text-primary  Nro de telefono:
        div.mt-4.col-md-5.pt-50-px-md.pt-20-px.d-flex.justify-content-center.justify-content-md-start.align-items-center.input-group
            input(type="number", name="code_1", pattern="[0-9]{1}", placeholder="0" required, maxlength="1").form-control.input-code.me-md-3.me-2.text-center
            input(type="number", name="code_2", pattern="[0-9]{1}", placeholder="0" required, maxlength="1").form-control.input-code.me-md-3.me-2.text-center
            input(type="number", name="code_3", pattern="[0-9]{1}", placeholder="0" required, maxlength="1").form-control.input-code.me-md-3.me-2.text-center
            input(type="number", name="code_4", pattern="[0-9]{1}", placeholder="0" required, maxlength="1").form-control.input-code.text-center
            span#check-code.ms-md-4.d-none
                i.fa-solid.fa-check.font-40-md.text-success
        div.text-primary.mt-md-3.mt-3#time-code
        .mt-80-px-md.mt-60-px.justify-content-center.d-flex.d-md-block.justify-content-md-between
            a.btn.btn-outline-primary.btn-lg.ms-md-4.font-14-xs#resend-code REENVIAR CÓDIGO
            button(type="submit", disabled="true").btn.btn-primary.btn-lg.ms-md-4.continuar-btn.font-14-xs VALIDAR
block script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js")
    script(src="js/script-page/envio-sms.js")