extends ../layouts/_layout_one
block variables

    - var page_datos = { title: 'crediminuto || Envío de SMS', back: true, cliente:true, phone:true}
    - var   text_1  =   "Validar IMEI";
    - var   text_2  =   "Validar el imei en la caja del dispositivo <br class='d-md-block d-none'> (Se debe registrar el imei 1) <br> <br> El dispositivo no debe haber sido encendido<br class='d-md-block d-none'> antes de este paso, en caso de que haya sido<br class='d-md-block d-none'> encendido realizar un reset de fabrica previo. ";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "elemento-21-1.svg";

block content_right
    form(id="form-enrolar-equipo").pt-50-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            span.font-28-md.font-18-px.fw-normal Enrolamiento del equipo
        .font-20-md.font-15-px.fw-light  Escribir el código IMEI del dispositivo a financiar.
        div.mt-4.col-md-8.pt-10-px-md.pt-10-px
            label.form-label.ps-2.ms-1 IMEI
            input(type="number", name="imei", placeholder="000000000000000000000000").form-control
        .font-24-md.font-15-px.mt-md-5.mt-4
        .form-check.form-switch.mt-md-3.d-md-grid.d-flex.ps-0
            label.form-check-label.order-0(for='flexSwitchCheckChecked') ¿El cliente ha adquirido #[br.d-md-none.d-block] una nueva SIM Card?
            input#flexSwitchCheckChecked.form-check-input.mt-2.order-1.ms-md-0.ms-4(type='checkbox' role='switch' name="sincad" checked='')
        .mt-80-px-md.mt-60-px.justify-content-center.d-flex.d-md-block.justify-content-md-start.justify-content-center
            button(type="submit").btn.btn-primary.btn-lg.continuar-btn.font-14-xs CONFIRMAR
block script
    script(src="js/script-page/enrolar-equipo.js")